$medium-and-up: 768px;

.article--container {
  .progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 100;
  }
  img {
    display: block;
    height: 192px;
    width: 90%;
    margin: 16px auto;
    @media (min-width: $medium-and-up) {
      height: 500px;
    }
  }

  h1,
  h2,
  h3 {
    margin: 16px 0;
    font-size: 38px;
    font-weight: 700;
    color: #17223b;
    font-family: "Avenir";
    @media only screen and (max-width: 768px) {
      font-size: 32px;
    }
  }
  h2 {
    font-size: 28px;
    @media only screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  h3 {
    font-size: 24px;
    @media only screen and (max-width: 768px) {
      font-size: 22px;
    }
  }

  p,
  ul,
  li,
  div {
    color: #17223b;
    font-weight: 200;
    font-size: 20px;
    line-height: 28px;
    font-family: "Avenir";
  }
  p {
    padding: 8px 0;
  }
  h1 + p {
    padding-top: 0;
    @media only screen and (max-width: 768px) {
      margin-top: 16px;
    }
  }
  h2 + p,
  h3 + p {
    padding-top: 0;
  }
  pre {
    width: 90%;
    margin: 16px auto;
    padding: 25px 50px;
    background-color: #17223b;
    border-radius: 2px;
    overflow-y: auto;
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 16px;
    }
  }
  code:not([class]) {
    padding: 0 8px;
    font-weight: 200;
    line-height: normal;
    background-color: darken(#f6f8fa, 5%);
    border-radius: 2px;
  }

  blockquote {
    width: 90%;
    margin: 16px auto;
    padding: 8px 32px;
    font-weight: 200;
    font-size: 18px;
    line-height: normal;
    background-color: darken(#f6f8fa, 5%);
    border-radius: 2px;
    p {
      font-style: italic;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: 16px;
    }
  }
  a {
    color: #17223b;
    text-decoration: none;
    border-bottom: 2px solid #66d9ef;
  }
  ul,
  ol {
    margin-left: 24px;
    padding: 8px 0 16px 0;
  }
  &.theme-dark {
    h1,
    h2,
    h3 {
      color: #ffffff;
    }
    p,
    ul,
    li,
    div {
      color: #ffffff;
    }
    a {
      color: #a6e22e;
      text-decoration-color: #66d9ef;
    }
    pre {
      background-color: #343e3d;
    }
    code:not([class]) {
      background-color: #6c8087;
    }
    blockquote {
      background-color: #6c8087;
    }
  }
  @media only screen and (max-width: 768px) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.btn--back-home {
  display: inline-block;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  box-shadow: none;
  border: 1px solid #17223b;
  cursor: pointer;
  color: #17223b;

  &:focus {
    outline: none;
  }
  &:hover {
    color: #ffffff;
    background-color: #17223b;
  }
  &.theme-dark {
    color: #ffffff;
    border-color: #ffffff;
    &:hover {
      background-color: #202124;
    }
  }
  &.page-not-found {
  }
}
.article-tags {
  margin-top: 36px;
}
.article-tag {
  display: inline-block;
  height: 32px;
  padding: 0 12px;
  margin: 8px;
  border-radius: 2px;
  background-color: #e6ebec;
  line-height: 32px;
  color: #17223b;
  span {
    text-transform: capitalize;
  }
}
