* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Avenir';
  font-family: 'SF Mono'; // TODO: change font to SF Mono
  font-weight: 400;
  font-display: optional;
  @media (prefers-color-scheme: dark) {
    background-color: #202124;
  }
}

div#root {
  height: 100%;
  width: 100%;
}
