.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: #17223b 1px solid;
  .tab-title {
    font-family: "Avenir";
    font-weight: 200;
    font-size: 18px;
    text-decoration-line: none;
    color: #17223b;
  }
  a.tab-title:hover {
    text-decoration-line: underline;
  }
  .list-actions {
    display: inline-block;
    .btn-edit,
    .btn-delete {
      display: inline-block;
      width: 36px;
      height: 36px;
      padding: 0 8px;
      margin: 8px;
      text-transform: uppercase;
      font-weight: 500;
      text-align: center;
      font-size: 14px;
      line-height: 36px;
      text-decoration: none;
      box-shadow: none;
      border: 1px solid #17223b;
      border-radius: 50%;
      cursor: pointer;
      color: #17223b;

      &:focus {
        outline: none;
      }
      &:hover {
        color: #ffffff;
        background-color: #17223b;
      }
    }
    .btn-delete {
      color: #ff070e;
      border-color: #ff070e;
      &:hover {
        color: #ffffff;
        background-color: #ff070e;
      }
    }
  }
  &.theme-dark {
    border-bottom-color: #ffffff;
    .tab-title {
      color: #ffffff;
      text-decoration-color: #66d9ef;
    }
    .btn-edit {
      color: #ffffff;
      border-color: #ffffff;
      &:hover {
        color: #17223b;
        background-color: #ffffff;
      }
    }
    .btn-delete {
      background-color: transparent;
    }
  }
}
