@font-face {
  font-family: "Avenir";
  src: url("./assets/avenir/avenir-lt-std-cufonfonts-webfont/AvenirLTStd-Light.woff");
  font-weight: 200;
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/avenir/avenir-lt-std-cufonfonts-webfont/AvenirLTStd-Medium.woff");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("./assets/avenir/avenir-lt-std-cufonfonts-webfont/AvenirLTStd-Heavy.woff");
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Avenir";
}

div#root {
  height: 100%;
  width: 100%;
}

