.btn-read-article,
.article-read-time {
  position: absolute;
  bottom: 8px;
  min-width: 64px;
  height: 36px;
  padding: 0 16px;
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  box-shadow: none;
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.btn-read-article {
  right: 8px;
  text-transform: capitalize;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #ffffff;
  }
}

.article-read-time {
  left: 8px;
  margin-left: 16px;
  opacity: 0;
  transition: all 0.25s ease-out;
}
